@model TicketHistory

@{
    Layout = "_Layout";
    ViewBag.Title = "Pending Tickets";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Service Ticket Information</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">ID:</dt>
                <dd class="col-sm-9">@Model.Id</dd>

                <dt class="col-sm-3">Name:</dt>
                <dd class="col-sm-9">@Model.Name</dd>

                <dt class="col-sm-3">Service Type:</dt>
                <dd class="col-sm-9">@Model.ServiceType</dd>

                <dt class="col-sm-3">Priority:</dt>
                @if(@Model.Priority == 1)
                {
                    <dd class="col-sm-9">Low</dd>
                }
                else if(@Model.Priority == 2)
                {
                    <dd class="col-sm-9">Medium</dd>
                }
                else if(@Model.Priority == 3)
                {
                    <dd class="col-sm-9">High</dd>
                }

                <dt class="col-sm-3">Created By:</dt>
                <dd class="col-sm-9">@Model.CreatedBy</dd>

                <dt class="col-sm-3">Date Created:</dt>
                <dd class="col-sm-9">@Model.DateCreated</dd>
                
                <dt class="col-sm-3">Description:</dt>
                <dd class="col-sm-9">@Model.Description</dd>
            </dl>
        </div>
    </div>
</div>
