@{
    Layout = "_Layout";
    ViewBag.Title = "Pending Tickets";
}

@* Displays info for a pending ticket *@
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Service Ticket Information</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">ID:</dt>
                <dd class="col-sm-9">@ViewBag.Ticket.Id</dd>

                <dt class="col-sm-3">Name:</dt>
                <dd class="col-sm-9">@ViewBag.Ticket.Name</dd>

                <dt class="col-sm-3">Service Type:</dt>
                <dd class="col-sm-9">@ViewBag.Ticket.ServiceType</dd>

                <dt class="col-sm-3">Priority:</dt>
                @if(@ViewBag.Ticket.Priority == 1)
                {
                    <dd class="col-sm-9">Low</dd>
                }
                else if(@ViewBag.Ticket.Priority == 2)
                {
                    <dd class="col-sm-9">Medium</dd>
                }
                else if(@ViewBag.Ticket.Priority == 3)
                {
                    <dd class="col-sm-9">High</dd>
                }

                <dt class="col-sm-3">Created By:</dt>
                <dd class="col-sm-9">@ViewBag.ticket.CreatedBy</dd>

                <dt class="col-sm-3">Date Created:</dt>
                <dd class="col-sm-9">@ViewBag.ticket.DateCreated</dd>
                
                <dt class="col-sm-3">Description:</dt>
                <dd class="col-sm-9">@ViewBag.ticket.Description</dd>
            </dl>
        </div>
    </div>
    <div>
        <a class="btn btn-primary mt-1" asp-route-id="@ViewBag.Ticket.Id" asp-controller="Ticket" asp-action="AssignTicket">Assign Ticket</a>
    </div>
</div>

