@model List<UserModel>
@{
    Layout = "_AdminLayout";
}

<a class="btn btn-primary" asp-controller="Authentication" asp-action="RegisterUser">Register New User</a>

<div class="container mt-4">
    <h2>User Table</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName @user.LastName </td>
                    <td>@user.UserName</td>
                    <td>@user.EmailAddress</td>
                    <td>@user.PhoneNumber</td>
                    <td><a class="btn btn-danger" asp-route-id="@user.Id" asp-controller="Admin" asp-action="DeleteUser">Delete User</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

